/* custom styles */
body {
max-width: 100%;
}

h1 {

}

h2 {

}

img {
  background-size: cover;
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
}


nav ul {
list-style-type: none;
padding-bottom: 10px;
}

nav ul li a {
display: inline-block;
float: left;
text-decoration: none;
padding-right: 30px;
color: #888;
}

/*.works {
float: left;

}*/



.works{
background-color: #ccc;
height: 200px;
width: 40%;
}

.contactIcons {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 30px;
    height: 30px;
}

#page-wrapper {



}

footer {
clear: both;
}
