/* custom styles */
body {
max-width: 100%;
/* background-image: url("assets/imgs/background_image.jpg");*/
}

h1 {
font-family: 'Bungee Hairline', sans-serif;;
font-size: 60px;
}

h2 {
font-family: 'Exo', sans-serif;
}

img {
  background-size: cover;
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
}


nav ul {
list-style-type: none;
padding-bottom: 10px;
}

nav ul li a {
display: inline-block;
float: left;
text-decoration: none;
padding-right: 30px;
color: #888;
}

/*.works {
float: left;

}*/



.works{
background-color: #ccc;
height: 200px;
width: 40%;
margin-top: 20px;
}

.contactIcons {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 30px;
    height: 30px;
}

#page-wrapper {



}

footer {
clear: both;
}
