/* custom styles */
body {
max-width: 100%;

}

h1 {

}

h2 {

}

img {
  background-size:cover;

}

nav ul {
list-style-type: none;

}

a {
display: inline-block;
float: left;
text-decoration: none;

}

.works {
float: left;

}

.recent {
background-color: #ccc;
height: 200px;
width: 40%;
}

.first {
background-color: #ccc;
height: 200px;
width: 40%;
}
